*{
    margin:0px;
    padding:0px;
}

header{
    background-image: url(background\ image.jpg) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main{
    max-width: 1100px;
    margin: auto;   
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    border: 1px solid transparent;
}
ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

ul li a:hover{
    color: black;
    background-color: white;
    transition: 0.6s ease;
}
.active{   
    background-color: white;
    color: black;
}
.logo img{
    margin-top: 19px;
    height: 45px;
    width: 48px;
}
.center_text{
    margin-top: 172px;
    margin-left: 638px;
}
h1{
    color: white;
    border: 3px solid white;
    width: 196px;
    padding: 10px;
}
#bt1{
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 0px 6px 0px 28px;
}
#bt2{
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-decoration: none;
}
#bt1:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}
#bt2:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}